@import (inline) "~leaflet/dist/leaflet.css";

.cw-root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.cw-map {
    .leaflet-container {
        font-family: 'Segoe UI', sans-serif;
        font-size: 12px;
    }

    .leaflet-tooltip {
        border-radius: 6px;
        border: 1px solid #DAD9D4;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
        padding: 6px 10px;
    }
}

.cw-panel {
    #cw-export-btn:hover {
        background: #B05730;
    }
}
